.text_left {
    width: 80px;
    margin: 0px 10px 4px 10px;
}
.text_right {
    margin: 0px 10px 4px 10px;
}
.header {
    font-size: 14px;
    width: 100%;
    text-align: center;
    background-color: #eee;
}